VITE_BACKEND_URL=backend.mytokentracker.xyz  //'127.0.0.1:8787' if local server is used
VITE_uHTTP_DP_ENDPOINT= //leave empty to use default
VITE_uHTTP_TOKEN=
VITE_uHTTP_FORCE_ZERO_HOP=true
VITE_CIVIC_CLIENT_ID=
VITE_JSONBIN_API_KEY=