/** Civic Connect widget styles */

#civic-dropdown-container {
    top: 3px;
    width: 200px;
    position: fixed;
}

.civic-login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

button.civic-user-button {
    border-radius: 3px;
    padding: 3px;
    color: black;
    cursor: default;
    background-color: rgb(240, 240, 240);
}

button.civic-user-button.logged-in {
    position: absolute;
    top: 3px;
    left: 3px;
}

button.civic-user-button:hover{
    background-color: rgb(207, 207, 207);
}